{% extends "base.html.twig" %}

{% block title %}Ajout de Nouvelle direction{% endblock %}

{% block body %}
   <div class="row">
      <div class="col-12 stretch-card">
         <div class="card">
            <div class="card-body">
               {{ form_start(form, {'attr': {'class': 'forms-sample'}}) }}
               {{ form_row(form.libelle) }}
               {{ form_row(form.sigle) }}
               <div class="form-group row">
                  <legend class="col-form-label col-sm-3 required">Services</legend>
                  <div class="col-sm-9 item">
                     <div 
                     id="services" 
                     data-prototype="{{ include("app/direction/_service.html.twig", {form: form.services.vars.prototype})|e("html_attr") }}" 
                     data-index="{{ form.services|length > 0 ? form.services|last.vars.name + 1 : 0}}">
                        {% for service in form.services %}
                           {{ include("app/direction/_service.html.twig", {form: service}) }}
                        {% endfor %}
                     </div>
                     <div class="form-group">
                        <button type="button" id="new_services" class="btn btn-primary btn-new" data-collection="#services">New Service</button> 
                     </div>
                  </div>
               </div>
               {{ form_widget(form._token) }}
               <div class="form-group row"> 
                  <div class="col-6">
                     <button type="submit" class="btn btn-primary">Enregistrer</button> 
                  </div>
                  <div class="col-6">
                     <a href="{{path('app_direction')}}" class="btn btn-info">retour</a> 
                  </div>
               </div>
               {{ form_end(form, {render_rest: false}) }}
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block javascripts %}
<script>
const newItem = (e) => {
   const collectionHolder = document.querySelector(e.currentTarget.dataset.collection);
   let index = parseInt(collectionHolder.dataset.index);

   const item = document.createElement("div");
   //item.classList.add("col-sm-9", "item");
   //const item = document.querySelector("div.item");

   item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, index);
   item.querySelector(".btn-remove").addEventListener("click", () => item.remove());
   
   collectionHolder.appendChild(item);
   collectionHolder.dataset.index = index + 1;

}

document
   .querySelectorAll('.btn-remove')
   .forEach(btn => btn.addEventListener("click", (e) => e.currentTarget.closest(".form-group").remove()));
document
   .querySelectorAll('.btn-new')
   .forEach(btn => btn.addEventListener("click", newItem));

</script>
{% endblock %}