<!DOCTYPE html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			SYGMA |
			{% block title %}Bienvenue sur l'application{% endblock %}
		</title>
		<!-- plugins:css -->
		{% include "includes/_css.html.twig" %}
		{# Run `composer require symfony/webpack-encore-bundle`
				and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}
		<!-- End Layout styles -->
		<link rel="shortcut icon" href="{{asset('assets/images/favicon_2.png')}}"/>
	</head>
	<body>
		<div
			class="container-scroller">
			<!-- partial:partials/_navbar.html -->
			{% include "includes/_navbar.html.twig" %}
			<!-- partial -->
			<div
				class="container-fluid page-body-wrapper">
				<!-- partial:partials/_sidebar.html -->
				{% include "includes/_sidebar.html.twig" %}
				<!-- partial -->
				<div class="main-panel">
					<div class="content-wrapper">
						{% for label, messages in app.flashes %}
							<div class="row">
								{% for message in messages %}
									<div class="col-12">
										<div class="alert alert-{{ label }}">
											<i class="mdi mdi-alert-circle"></i>
											{{ message|raw }}.
										</div>
									</div>
								{% endfor %}
							</div>
						{% endfor %}
						{% block body %}{% endblock %}
						{# {% include "includes/_main.html.twig" %}  #}
					</div>
					<!-- content-wrapper ends -->
					<!-- partial:partials/_footer.html -->
					<footer class="footer">
						<div class="container-fluid clearfix">
							<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2021.</span>
							<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Par
								<a href="http://divinetechnologie.ci/" target="_blank">divinetechnologie</a>.</span>
						</div>
					</footer>
					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->
		{% include "includes/_js.html.twig" %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</body>
</html>
